<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fooapp11">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FooApp11"
        tools:targetApi="31">
        <activity
            android:name=".SavedAddresses"
            android:exported="true"/>
        <activity
            android:name=".ViewProducts"
            android:exported="true"></activity>
        <activity
            android:name=".AddProduct"
            android:exported="true"></activity>
        <activity
            android:name=".ChooseLoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"/>
        <activity
            android:name=".ReviewDetails"
            android:exported="true" />
        <activity
            android:name=".AddReviewActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SingleFood"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".UnpaidCardDetails"
            android:exported="true"></activity>
        <activity
            android:name=".PaymentHistory"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderConfirm"
            android:exported="true"/>
        <activity
            android:name=".CardDetailsForm"
            android:exported="true" />
    </application>

</manifest>